@font-face {
    font-family: Selawik;
    src: url(./selawik/selawk.ttf) format("truetype")
  }
@font-face {
    font-family: Selawik;
    src: url(./selawik/selawksb.ttf) format("truetype");
    font-weight: bolder;
  }
@font-face {
    font-family: Selawik;
    src: url(./selawik/selawksl.ttf) format("truetype");
    font-weight: lighter;
  }

* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0
  }
html, body {
    font-family: Selawik;
    width: 100%;
    height: 100%;
    background-color: #1e2023
  }

.contain {
    display: grid;
    grid-template-columns: 200px
  }

.nav {
    grid-column: 1;
    padding-top: 5px;
    position: fixed;
    width: 100px;
    height: 100%;
    background-color: #fda7f0
  }
.nav h2, ul {
    text-align: left;
    padding-left: 5px
  }
.nav a {
    color: #1e2023
  }
#date {
  padding-left: 5px;
  position: absolute;
  bottom: 5px
}

.main {
    grid-column: 2;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
    color: white
  }
.main li {
    text-align: right
}
.main a {
    color: lightgrey
  }

.kren {
    width: 250px
  }

.boat {
    width: 250px
}